# Environment & Secrets
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Data & Large Artifacts
data/raw/*
!data/raw/.gitkeep
*.parquet
*.faiss
*.pkl

# Jupyter & IDEs
.ipynb_checkpoints/
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
